<nav class="navbar">
    <div class="container">
        <a class="navbar-brand title" routerLink="/">YouBlog</a>
        <!--  logged out users -->
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" routerLink="/">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signin" routerLinkActive="active">
                    Sign in
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup" routerLinkActive="active">
                    Sign up
                </a>
            </li>

        </ul>
    </div>
</nav>